/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 95% !important;
    }

    .title {
        color: #4d607d;
        word-wrap: break-word;
        text-align: center;
        justify-content: center;
        padding: 7px;
        border-bottom: 4px solid #4d607d;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 95% !important;
        }

        /* .title {
        text-align: right;
        justify-content: right;
        border-bottom: 4px solid #4d607d;
      } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
            width: 70% !important;
        }

        .title {
            text-align: right;
            justify-content: right;
            border-right: 4px solid #4d607d;
          }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
            width: 70% !important;
        }

        .title {
            text-align: right;
            justify-content: right;
            border-right: 4px solid #4d607d;
          }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .title {
        text-align: right;
        justify-content: right;
        border-right: 4px solid #4d607d;
      }
}

#home {
  grid-area: home;
  margin: 10px 10px 10px 0px;
}

.container-fluid {
    padding-left: 0px !important;
}

a.navbar-brand {
    margin-left: 0px !important;
}

.navbar-nav a {
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  margin: 5px;
  border-bottom: 4px solid #4d607d;
  background-color: #91CCCD;
  font-weight: 400;
  color: #4d607d !important;
}

.navbar-brand {
  background-color: #91CCCD;
    color: black !important;
    padding: 2.5px 10px 2.5px 50px;
}


nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #dfe3ef !important;
}


.hero-banner {
  background-image: url("../images/abstract.jpg");
  object-fit:cover;
  height: 250px;
}

.title {
  color: #4d607d;
  font-size: 30px;
  grid-area: title;
  word-wrap: break-word;
  text-align: right;
  justify-content: right;
  padding: 7px;
}

#profile-image {
  object-fit: contain;
  /* display: inline; */
  /* position: relative; */
  width: 150px;
  /* float: left; */
}


#headerLabel {
  background-color: #91CCCD;
  color: black;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  /* margin: 15px; */
  /* position: absolute;
  float: right; */
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 5px solid #91CCCD;
  margin-bottom: 10px;
}

.featured-card-img {
  height: 300px;
  object-fit: cover;
}

#workItems {
  margin: 10px;
}

.work-img {
    height: 200px;
    object-fit: cover;
}

.contact-info {
  text-decoration: none;
  color: #4d607d !important;
}
